<h1 class="text-center">Редактирование</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with model: @user do |form| %>
      <%= render 'shared/error_messages', object: form.object %>

      <p><%= form.label :name, 'Ваше имя' %></p>
      <p><%= form.text_field :name, class: 'form-control' %></p>

      <p><%= form.label :email, 'Почта' %></p>
      <p><%= form.text_field :email, class: 'form-control' %></p>

      <p><%= form.label :password, 'Пароль' %></p>
      <p><%= form.password_field :password, class: 'form-control' %></p>

      <p><%= form.label :password_confirmation, 'Повторите пароль' %></p>
      <p><%= form.password_field :password_confirmation, class: 'form-control' %></p>

      <p><%= form.label :avatar, 'Загрузка нового фото для изменения' %></p>
      <p><%= form.file_field :avatar %></p>

      <p><%= form.submit 'Редактировать', class: "btn btn-primary" %></p>
    <% end %>
  </div>
</div>


