<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well well-md">
      <div class="row">
        <div class="col-md-6 col-md-4 text-center">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, class: 'img-thumbnail'  %>
          <% else %>
            <%= image_tag ("photo-profile.jpg"), class: 'img-thumbnail'  %>
          <% end %>
          <br><br>
          <div>
            <% if @user == current_user %>
              <%= button_to 'Редактировать', edit_user_path(@user), method: :get, class: 'btn btn-info' %>
            <% end %>
            <br />
          </div>
        </div>
        <div class="col-sm-6 col-md-8">
          <h3><%= @user.name %></h3>
          <small><cite>Город, страна<i class="glyphicon glyphicon-map-marker">
          </i></cite></small>
          <p>
            <i class="glyphicon glyphicon-envelope"></i><%= @user.email %>
            <br />
            <i class="glyphicon glyphicon-registration-mark"></i><%= @user.created_at.strftime("Зарегистрирован: %d.%m.%Y") %>
          </p>
            <button type="button" class="btn btn-primary">
              #
            </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8 col-md-offset-2">
    <% if logged_in? %>
      <%= render 'microposts/form_micropost' %>
    <% end %>
    <h2>Стена (<%= inclination(@microposts.count, 'запись', 'записи', 'записей')%>)</h2>
    <% if @microposts.any? %>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

