<div class="container">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar.variant(resize_to_limit: [200, 200])  %>
  <% end %>
    <p><%= @user.name %></p>
  <p><%= @user.email %></p>
  <p><%= @user.password_digest %></p>
</div>

<div>
  <%= link_to 'Редактировать', edit_user_path(@user) %> |
  <%= link_to 'Все пользователи', users_path %>
</div>
