<div class="container">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar.variant(resize_to_limit: [200, 200])  %>
  <% end %>
    <p><%= @user.name %></p>
  <p><%= @user.email %></p>
  <p><%= @user.password_digest %></p>
</div>

<p><%= link_to 'Все пользователи', users_path %></p>
