<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'SocialNetwork', root_path, class: 'navbar-brand' %>
    </div>

    <% if logged_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to users_path, class: 'button white' do %>
            <span class="glyphicon glyphicon-list-alt"></span>Пользователи
          <% end %>
        </li>

        <li><%= link_to user_path(current_user), class: 'button white' do %>
            <span class="glyphicon glyphicon-user"></span><%= current_user.email %>
          <% end %>
        </li>

        <li>
          <%= link_to logout_path, method: :delete, class: 'button white' do %>
            <span class="glyphicon glyphicon-log-out"></span>Выход
          <% end %>
        </li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to signup_path, class: 'button white' do %>
            <span class="glyphicon glyphicon-user"></span>Регистрация
          <% end %>
        </li>

        <li><%= link_to login_path, class: 'button white' do %>
            <span class="glyphicon glyphicon-log-in"></span>Вход
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
<br>
